@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* ===============================
   Swiper Custom Pagination
   =============================== */
.custom-pagination .swiper-pagination-bullet {
  @apply w-10 h-1 transition-all duration-300 rounded-none m-0;
}

.custom-pagination .swiper-pagination-bullet-active {
  @apply bg-white w-10 h-1 rounded-none;
}

.custom-pagination {
  width: auto !important;
  left: 50% !important;
  bottom: 40px !important;
  right: auto !important;
  transform: translateX(-50%) !important;
}